.container {
  height: calc(100vh - 60px);
  width: 100%;
  margin-top: 6rem;
}

.wrapper {
  height: 100%;
  width: 85%;
  margin: 0 auto;
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.titles > h5 {
  font-size: 24px;
  color: #bc8738;
  color: #d79734;
  letter-spacing: 1px;
}

.titles > h2 {
  font-size: 32px;
  color: #bc8738;
  letter-spacing: 1px;
}

.recipes {
  margin-top: 3rem;
  position: relative;
  display: flex;
  width: 750px;
  height: 650px;
  overflow: hidden;
}

.recipes > .recipe {
  width: 750px;
  height: 550px;
  transition: 200ms;
}

.recipes > .recipe > img {
  width: 750px;
  height: 550px;
  object-fit: cover;
}

.recipes > .recipe > h3 {
  position: absolute;
  z-index: 1;
  padding: 0.25rem;
  background-color: #d79734;
  color: #fff;
  border-radius: 6px;
  bottom: 1.25rem;
  left: 0.5rem;
}

.leftArrow,
.rightArrow {
  position: absolute;
  z-index: 3;
}

.leftArrow {
  left: 1rem;
  top: 275px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.rightArrow {
  right: 1rem;
  top: 275px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  font-size: 14px;
}

.dots {
  margin-top: -3rem;
  display: flex;
  gap: 1.25rem;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 6;
  cursor: pointer;
}

.dots > .dot {
  height: 12px;
  width: 12px;
  background-color: #efefef;
  border-radius: 50%;
}

.dots > .dot.activeDot {
  background-color: #d79734;
}
